.badge-ctn {
    width: fit-content;
    height: fit-content;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    border: 1px #444654bd solid;
  
    position: relative;
}
.badge-layer {
    background-color: #FFF4EA;
    /* background-color: red; */
    position: absolute;
}
.badge-layer1 {
    width:78%;
    top:-2px;
    height: 2px;
    right: -2px;
}
.badge-layer3 {
    width:78%;
    bottom:-2px;
    height: 2px;
    left: -2px;
}
.badge-layer2{
    height:60%;
    bottom:-2px;
    width: 2px;
    left: -2px;
}
.badge-layer4{
    height:60%;
    top:-2px;
    width: 2px;
    right: -2px;
} 