.bl-act{position: relative;}

.btn-lyer-light{
    width: 0;
    height: 100%;
    left:0;
    position:absolute;
background-color:  #4F4138;
}
.btn-lyer{
    width: 0;
    height: 100%;
    left:0;
    position:absolute;
background-color:  #444654;
}
.bl-act:hover .btn-lyer-light {
    width:6px;
    
}
.bl-act:hover  .btn-lyer {
    width:6px;
}
